<div class="footer">
	<div class="warp">
		<div class="lianxi">
			<a href="javascript:;" style="margin-left:75px;">首页</a>
			<a href="javascript:;">关于米折</a>
			<a href="javascript:;">媒体报道</a>
			<a href="javascript:;">人才招聘</a>
			<a href="javascript:;">联系我们</a>
			<a href="javascript:;">友情链接</a>
			<a href="javascript:;">商务合作</a>
			<a href="javascript:;">帮助中心</a>
			<a href="javascript:;">联系客服</a>
			<a href="javascript:;">手机客户端</a>
			<a href="javascript:;" style="border:none;">网站地图</a>
		</div>
		<div class="ban">
			<a href="javascript:;" class="cyzone"></a>
			<a href="javascript:;" class="ec"></a>
			<a href="javascript:;" class="cnnic"></a>
			<a href="javascript:;" class="cxwz"></a>
			<a href="javascript:;" class="hzgs"></a>
		</div>
		<div class="nvw">
			<p>@2011-2018米折网-杭州互秀电子商务有限公司旗下网站-浙ICP备12005806</p>
		</div>
	</div>
</div>