<div class="header">
	<div class="warp">
		<div class="left">
			<a href="javascript:;" class="qq">QQ登录<span></span></a>
			<i class="qc"></i>
			<a href="http://localhost:2333/html/login.html" class="sub">请登录</a>
			<a href="http://localhost:2333/html/register.html" class="zc">免费注册	</a>
		</div>
		<div class="right">			
				<a href="javascript:;" class="my-account info-item">我的米折</a>
				<a href="http://localhost:2333/html/cat.html" class="my-order info-item">我的订单</a>
				<a href="javascript:;" class="my-message info-item">消息</a>
				<a href="javascript:;" class="help-index info-item">帮助中心</a>
				<a href="javascript:;" class="tel-member info-item">联系客服</a>
				<a href="javascript:;" class="mizhe-app info-item">手机米折</a>
				<span class="box">
					<span class="watch info-item">关注</span>
					<!--<div class="watch-warp">
						<div class="weix">
							
						</div>
						<div class="right-w"></div>
					</div>-->
				</span>		
		</div>
	</div>
</div>
	