<div class="banner">
<div class="warp">
	<div id="div1">
		<ul>
			<li class="ac" style="display: block;"><img src="/images/lengbo1.jpg"></li>
			<li><img src="/images/nengbo2.jpg"></li>
			<li><img src="/images/nengbo3.jpg"></li>
			<li><img src="/images/nengbo4.jpg"></li>
			<li><img src="/images/nengbo5.jpg"></li>
		</ul>
		<ol>
			<li class="ac">1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
		</ol>
		<a href="javascript:;" id="goPrev">&laquo;</a>
		<a href="javascript:;" id="goNext">&raquo;</a>
	</div>
</div>
</div>